<div class="header">
	<div class="logo-and-menu">
		<div class="logo">
			<img src="/img/logo_02.png">
		</div>
		<ul id="menu" class="menu">
			<li><a href="/">Главная</a></li>
			<li><a href="/sign-up">Регистрация</a></li>
			<li><a href="/sign-in">Авторизация</a></li>
			<li><a href="/profile">Профиль</a></li>
			<li><a href="/game">Игра</a></li>
		</ul>
	</div>
</div>