<!DOCTYPE html>
<html>
<head>
	<title>Шаблон</title>
	<link href="https://fonts.googleapis.com/css?family=Arsenal|Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="wrapper">

		<% include partials/header %>

		<!-- <% include partials/sidebar %> -->

		<% if (page == "main") { %>
			<% include pages/index %>
		<% } %>

		<% if (page == "about") { %>
			<% include pages/about %>
		<% } %>

		<% if (page == "users") { %>
			<% include pages/users %>
		<% } %>

		<% if (page == "profile") { %>
			<% include pages/profile %>
		<% } %>

		<% if (page == "sign_up") { %>
			<% include pages/sign_up %>
		<% } %>

		<% if (page == "sign_in") { %>
			<% include pages/sign_in %>
		<% } %>

		<% if (page == "404") { %>
			<% include pages/404 %>
		<% } %>

		<% if (page == "500") { %>
			<% include pages/500 %>
		<% } %>

		<% include partials/footer %>
	</div>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/validator.js"></script> -->
</body>
</html>