

<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

<%if(!auth){%>
<div class="sign-in">
    <div>
        <h2>Авторизация</h2>

        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <label for="email">Электронная почта</label><br>
            <input type="text" name="email" id="email" value=""><br>
            <label for="password">Пароль</label><br>
            <input type="text" name="password" id="password" value=""><br>
            <input type="submit" name="login" value="Войти">
        </form>

        <p>Нужен аккаунт? <a href="/signup">Регистрация</a></p>
    </div>  
</div>
<%}%>