<div class="sign-up">
	<div>
		<h2>Регистрация</h2>

		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<form action="/sign-up" method="post">
			<label for="fname">Имя пользователя</label><br>
			<input type="text" name="fname" id="fname"><br>
			<label for="lname">Фамилия пользователя</label><br>
			<input type="text" name="lname" id="lname"><br>
			<label for="email">Электронная почта</label><br>
			<input type="text" name="email" id="email"><br>
			<label for="passwd">Пароль</label><br>
			<input type="text" name="passwd" id="passwd"><br>
			<label for="passwd2">Повтор пароля</label><br>
			<input type="text" name="passwd" id="passwd2"><br>
			<input type="submit" name="sign-up" value="Зарегестрироваться">
		</form>

		<a href="/auth/facebook" class="btn btn-primary">
			<span class="fa fa-facebook"></span> 
			Facebook
		</a>
		<a href="/auth/twitter" class="btn btn-info">
			<span class="fa fa-twitter"></span> 
			Twitter
		</a>
		<a href="/auth/google" class="btn btn-danger">
			<span class="fa fa-google-plus"></span> 
			Google+
		</a>

		<div id="password-info">

			 <h4>Пароль должен соответствовать критериям:</h4>
			 <ul>
				  <li id="letter">Минимум <strong>одна буква</strong></li>
				  <li id="capital">Минимум <strong>одна заглавная буква</strong></li>
				  <li id="number">Минимум <strong>одна цифра</strong></li>
				  <li id="symbol">Минимум <strong>один специальный символ</strong></li>
				  <li id="length">Быть не менее <strong>8 символов</strong></li>
			 </ul>
		</div>

		<p>Already have an account? <a href="/sign-in">Войти</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>	
</div>